.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  .menu {
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav-links a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000000;
  }
  
  .burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .burger.open {
    transform: rotate(90deg);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 1024px) {
    .nav {
      padding: 10px;
    }
  
    .burger {
      display: block;
    }
  
    .menu {
      transform: translateY(0);
    }
  }
